.text-hd-accent-one-400 {
  --tw-text-opacity: 1;
  color: #d8aaa8;
  color: rgb(216 170 168/var(--tw-text-opacity));
}

.text-hd-accent-one-400\/0 {
  color: hsla(3,38%,75%,0);
}

.text-hd-accent-one-400\/10 {
  color: hsla(3,38%,75%,.1);
}

.text-hd-accent-one-400\/100 {
  color: #d8aaa8;
}

.text-hd-accent-one-400\/15 {
  color: hsla(3,38%,75%,.15);
}

.text-hd-accent-one-400\/20 {
  color: hsla(3,38%,75%,.2);
}

.text-hd-accent-one-400\/25 {
  color: hsla(3,38%,75%,.25);
}

.text-hd-accent-one-400\/30 {
  color: hsla(3,38%,75%,.3);
}

.text-hd-accent-one-400\/35 {
  color: hsla(3,38%,75%,.35);
}

.text-hd-accent-one-400\/40 {
  color: hsla(3,38%,75%,.4);
}

.text-hd-accent-one-400\/45 {
  color: hsla(3,38%,75%,.45);
}

.text-hd-accent-one-400\/5 {
  color: hsla(3,38%,75%,.05);
}

.text-hd-accent-one-400\/50 {
  color: hsla(3,38%,75%,.5);
}

.text-hd-accent-one-400\/55 {
  color: hsla(3,38%,75%,.55);
}

.text-hd-accent-one-400\/60 {
  color: hsla(3,38%,75%,.6);
}

.text-hd-accent-one-400\/65 {
  color: hsla(3,38%,75%,.65);
}

.text-hd-accent-one-400\/70 {
  color: hsla(3,38%,75%,.7);
}

.text-hd-accent-one-400\/75 {
  color: hsla(3,38%,75%,.75);
}

.text-hd-accent-one-400\/80 {
  color: hsla(3,38%,75%,.8);
}

.text-hd-accent-one-400\/85 {
  color: hsla(3,38%,75%,.85);
}

.text-hd-accent-one-400\/90 {
  color: hsla(3,38%,75%,.9);
}

.text-hd-accent-one-400\/95 {
  color: hsla(3,38%,75%,.95);
}

.text-hd-accent-one-500 {
  --tw-text-opacity: 1;
  color: #ce9592;
  color: rgb(206 149 146/var(--tw-text-opacity));
}

.text-hd-accent-one-500\/0 {
  color: hsla(3,38%,69%,0);
}

.text-hd-accent-one-500\/10 {
  color: hsla(3,38%,69%,.1);
}

.text-hd-accent-one-500\/100 {
  color: #ce9592;
}

.text-hd-accent-one-500\/15 {
  color: hsla(3,38%,69%,.15);
}

.text-hd-accent-one-500\/20 {
  color: hsla(3,38%,69%,.2);
}

.text-hd-accent-one-500\/25 {
  color: hsla(3,38%,69%,.25);
}

.text-hd-accent-one-500\/30 {
  color: hsla(3,38%,69%,.3);
}

.text-hd-accent-one-500\/35 {
  color: hsla(3,38%,69%,.35);
}

.text-hd-accent-one-500\/40 {
  color: hsla(3,38%,69%,.4);
}

.text-hd-accent-one-500\/45 {
  color: hsla(3,38%,69%,.45);
}

.text-hd-accent-one-500\/5 {
  color: hsla(3,38%,69%,.05);
}

.text-hd-accent-one-500\/50 {
  color: hsla(3,38%,69%,.5);
}

.text-hd-accent-one-500\/55 {
  color: hsla(3,38%,69%,.55);
}

.text-hd-accent-one-500\/60 {
  color: hsla(3,38%,69%,.6);
}

.text-hd-accent-one-500\/65 {
  color: hsla(3,38%,69%,.65);
}

.text-hd-accent-one-500\/70 {
  color: hsla(3,38%,69%,.7);
}

.text-hd-accent-one-500\/75 {
  color: hsla(3,38%,69%,.75);
}

.text-hd-accent-one-500\/80 {
  color: hsla(3,38%,69%,.8);
}

.text-hd-accent-one-500\/85 {
  color: hsla(3,38%,69%,.85);
}

.text-hd-accent-one-500\/90 {
  color: hsla(3,38%,69%,.9);
}

.text-hd-accent-one-500\/95 {
  color: hsla(3,38%,69%,.95);
}

.text-hd-accent-one-original {
  --tw-text-opacity: 1;
  color: #ce9592;
  color: rgb(206 149 146/var(--tw-text-opacity));
}

.text-hd-accent-two-400 {
  --tw-text-opacity: 1;
  color: #d9c2bf;
  color: rgb(217 194 191/var(--tw-text-opacity));
}

.text-hd-accent-two-400\/0 {
  color: hsla(7,25%,80%,0);
}

.text-hd-accent-two-400\/10 {
  color: hsla(7,25%,80%,.1);
}

.text-hd-accent-two-400\/100 {
  color: #d9c2bf;
}

.text-hd-accent-two-400\/15 {
  color: hsla(7,25%,80%,.15);
}

.text-hd-accent-two-400\/20 {
  color: hsla(7,25%,80%,.2);
}

.text-hd-accent-two-400\/25 {
  color: hsla(7,25%,80%,.25);
}

.text-hd-accent-two-400\/30 {
  color: hsla(7,25%,80%,.3);
}

.text-hd-accent-two-400\/35 {
  color: hsla(7,25%,80%,.35);
}

.text-hd-accent-two-400\/40 {
  color: hsla(7,25%,80%,.4);
}

.text-hd-accent-two-400\/45 {
  color: hsla(7,25%,80%,.45);
}

.text-hd-accent-two-400\/5 {
  color: hsla(7,25%,80%,.05);
}

.text-hd-accent-two-400\/50 {
  color: hsla(7,25%,80%,.5);
}

.text-hd-accent-two-400\/55 {
  color: hsla(7,25%,80%,.55);
}

.text-hd-accent-two-400\/60 {
  color: hsla(7,25%,80%,.6);
}

.text-hd-accent-two-400\/65 {
  color: hsla(7,25%,80%,.65);
}

.text-hd-accent-two-400\/70 {
  color: hsla(7,25%,80%,.7);
}

.text-hd-accent-two-400\/75 {
  color: hsla(7,25%,80%,.75);
}

.text-hd-accent-two-400\/80 {
  color: hsla(7,25%,80%,.8);
}

.text-hd-accent-two-400\/85 {
  color: hsla(7,25%,80%,.85);
}

.text-hd-accent-two-400\/90 {
  color: hsla(7,25%,80%,.9);
}

.text-hd-accent-two-400\/95 {
  color: hsla(7,25%,80%,.95);
}

.text-hd-accent-two-500 {
  --tw-text-opacity: 1;
  color: #d0b3af;
  color: rgb(208 179 175/var(--tw-text-opacity));
}

.text-hd-accent-two-500\/0 {
  color: hsla(7,26%,75%,0);
}

.text-hd-accent-two-500\/10 {
  color: hsla(7,26%,75%,.1);
}

.text-hd-accent-two-500\/100 {
  color: #d0b3af;
}

.text-hd-accent-two-500\/15 {
  color: hsla(7,26%,75%,.15);
}

.text-hd-accent-two-500\/20 {
  color: hsla(7,26%,75%,.2);
}

.text-hd-accent-two-500\/25 {
  color: hsla(7,26%,75%,.25);
}

.text-hd-accent-two-500\/30 {
  color: hsla(7,26%,75%,.3);
}

.text-hd-accent-two-500\/35 {
  color: hsla(7,26%,75%,.35);
}

.text-hd-accent-two-500\/40 {
  color: hsla(7,26%,75%,.4);
}

.text-hd-accent-two-500\/45 {
  color: hsla(7,26%,75%,.45);
}

.text-hd-accent-two-500\/5 {
  color: hsla(7,26%,75%,.05);
}

.text-hd-accent-two-500\/50 {
  color: hsla(7,26%,75%,.5);
}

.text-hd-accent-two-500\/55 {
  color: hsla(7,26%,75%,.55);
}

.text-hd-accent-two-500\/60 {
  color: hsla(7,26%,75%,.6);
}

.text-hd-accent-two-500\/65 {
  color: hsla(7,26%,75%,.65);
}

.text-hd-accent-two-500\/70 {
  color: hsla(7,26%,75%,.7);
}

.text-hd-accent-two-500\/75 {
  color: hsla(7,26%,75%,.75);
}

.text-hd-accent-two-500\/80 {
  color: hsla(7,26%,75%,.8);
}

.text-hd-accent-two-500\/85 {
  color: hsla(7,26%,75%,.85);
}

.text-hd-accent-two-500\/90 {
  color: hsla(7,26%,75%,.9);
}

.text-hd-accent-two-500\/95 {
  color: hsla(7,26%,75%,.95);
}

.text-hd-accent-two-original {
  --tw-text-opacity: 1;
  color: #d0b3af;
  color: rgb(208 179 175/var(--tw-text-opacity));
}

.text-hd-base-400 {
  --tw-text-opacity: 1;
  color: #c5c595;
  color: rgb(197 197 149/var(--tw-text-opacity));
}

.text-hd-base-400\/0 {
  color: hsla(60,29%,68%,0);
}

.text-hd-base-400\/10 {
  color: hsla(60,29%,68%,.1);
}

.text-hd-base-400\/100 {
  color: #c5c595;
}

.text-hd-base-400\/15 {
  color: hsla(60,29%,68%,.15);
}

.text-hd-base-400\/20 {
  color: hsla(60,29%,68%,.2);
}

.text-hd-base-400\/25 {
  color: hsla(60,29%,68%,.25);
}

.text-hd-base-400\/30 {
  color: hsla(60,29%,68%,.3);
}

.text-hd-base-400\/35 {
  color: hsla(60,29%,68%,.35);
}

.text-hd-base-400\/40 {
  color: hsla(60,29%,68%,.4);
}

.text-hd-base-400\/45 {
  color: hsla(60,29%,68%,.45);
}

.text-hd-base-400\/5 {
  color: hsla(60,29%,68%,.05)
}

.text-hd-base-400\/50 {
  color: hsla(60,29%,68%,.5);
}

.text-hd-base-400\/55 {
  color: hsla(60,29%,68%,.55);
}

.text-hd-base-400\/60 {
  color: hsla(60,29%,68%,.6);
}

.text-hd-base-400\/65 {
  color: hsla(60,29%,68%,.65);
}

.text-hd-base-400\/70 {
  color: hsla(60,29%,68%,.7);
}

.text-hd-base-400\/75 {
  color: hsla(60,29%,68%,.75);
}

.text-hd-base-400\/80 {
  color: hsla(60,29%,68%,.8);
}

.text-hd-base-400\/85 {
  color: hsla(60,29%,68%,.85);
}

.text-hd-base-400\/90 {
  color: hsla(60,29%,68%,.9);
}

.text-hd-base-400\/95 {
  color: hsla(60,29%,68%,.95);
}

.text-hd-base-500 {
  --tw-text-opacity: 1;
  color: #b3b375;
  color: rgb(179 179 117/var(--tw-text-opacity));
}

.text-hd-base-500\/0 {
  color: hsla(60,29%,58%,0);
}

.text-hd-base-500\/10 {
  color: hsla(60,29%,58%,.1);
}

.text-hd-base-500\/100 {
  color: #b3b375;
}

.text-hd-base-500\/15 {
  color: hsla(60,29%,58%,.15);
}

.text-hd-base-500\/20 {
  color: hsla(60,29%,58%,.2);
}

.text-hd-base-500\/25 {
  color: hsla(60,29%,58%,.25);
}

.text-hd-base-500\/30 {
  color: hsla(60,29%,58%,.3);
}

.text-hd-base-500\/35 {
  color: hsla(60,29%,58%,.35);
}

.text-hd-base-500\/40 {
  color: hsla(60,29%,58%,.4);
}

.text-hd-base-500\/45 {
  color: hsla(60,29%,58%,.45);
}

.text-hd-base-500\/5 {
  color: hsla(60,29%,58%,.05);
}

.text-hd-base-500\/50 {
  color: hsla(60,29%,58%,.5);
}

.text-hd-base-500\/55 {
  color: hsla(60,29%,58%,.55);
}

.text-hd-base-500\/60 {
  color: hsla(60,29%,58%,.6);
}

.text-hd-base-500\/65 {
  color: hsla(60,29%,58%,.65);
}

.text-hd-base-500\/70 {
  color: hsla(60,29%,58%,.7);
}

.text-hd-base-500\/75 {
  color: hsla(60,29%,58%,.75);
}

.text-hd-base-500\/80 {
  color: hsla(60,29%,58%,.8);
}

.text-hd-base-500\/85 {
  color: hsla(60,29%,58%,.85);
}

.text-hd-base-500\/90 {
  color: hsla(60,29%,58%,.9);
}

.text-hd-base-500\/95 {
  color: hsla(60,29%,58%,.95);
}

.text-hd-base-original {
  --tw-text-opacity: 1;
  color: #fafaf5;
  color: rgb(250 250 245/var(--tw-text-opacity));
}

.text-hd-neutral-400 {
  --tw-text-opacity: 1;
  color: #99b3c2;
  color: rgb(153 179 194/var(--tw-text-opacity));
}

.text-hd-neutral-400\/0 {
  color: rgba(153,179,194,0);
}

.text-hd-neutral-400\/10 {
  color: rgba(153,179,194,.1);
}

.text-hd-neutral-400\/100 {
  color: #99b3c2;
}

.text-hd-neutral-400\/15 {
  color: rgba(153,179,194,.15);
}

.text-hd-neutral-400\/20 {
  color: rgba(153,179,194,.2);
}

.text-hd-neutral-400\/25 {
  color: rgba(153,179,194,.25);
}

.text-hd-neutral-400\/30 {
  color: rgba(153,179,194,.3);
}

.text-hd-neutral-400\/35 {
  color: rgba(153,179,194,.35);
}

.text-hd-neutral-400\/40 {
  color: rgba(153,179,194,.4);
}

.text-hd-neutral-400\/45 {
  color: rgba(153,179,194,.45);
}

.text-hd-neutral-400\/5 {
  color: rgba(153,179,194,.05);
}

.text-hd-neutral-400\/50 {
  color: rgba(153,179,194,.5);
}

.text-hd-neutral-400\/55 {
  color: rgba(153,179,194,.55);
}

.text-hd-neutral-400\/60 {
  color: rgba(153,179,194,.6);
}

.text-hd-neutral-400\/65 {
  color: rgba(153,179,194,.65);
}

.text-hd-neutral-400\/70 {
  color: rgba(153,179,194,.7);
}

.text-hd-neutral-400\/75 {
  color: rgba(153,179,194,.75);
}

.text-hd-neutral-400\/80 {
  color: rgba(153,179,194,.8);
}

.text-hd-neutral-400\/85 {
  color: rgba(153,179,194,.85);
}

.text-hd-neutral-400\/90 {
  color: rgba(153,179,194,.9);
}

.text-hd-neutral-400\/95 {
  color: rgba(153,179,194,.95);
}

.text-hd-neutral-500 {
  --tw-text-opacity: 1;
  color: #80a0b3;
  color: rgb(128 160 179/var(--tw-text-opacity));
}

.text-hd-neutral-500\/0 {
  color: rgba(128,160,179,0);
}

.text-hd-neutral-500\/10 {
  color: rgba(128,160,179,.1);
}

.text-hd-neutral-500\/100 {
  color: #80a0b3;
}

.text-hd-neutral-500\/15 {
  color: rgba(128,160,179,.15);
}

.text-hd-neutral-500\/20 {
  color: rgba(128,160,179,.2);
}

.text-hd-neutral-500\/25 {
  color: rgba(128,160,179,.25);
}

.text-hd-neutral-500\/30 {
  color: rgba(128,160,179,.3);
}

.text-hd-neutral-500\/35 {
  color: rgba(128,160,179,.35);
}

.text-hd-neutral-500\/40 {
  color: rgba(128,160,179,.4);
}

.text-hd-neutral-500\/45 {
  color: rgba(128,160,179,.45);
}

.text-hd-neutral-500\/5 {
  color: rgba(128,160,179,.05);
}

.text-hd-neutral-500\/50 {
  color: rgba(128,160,179,.5);
}

.text-hd-neutral-500\/55 {
  color: rgba(128,160,179,.55);
}

.text-hd-neutral-500\/60 {
  color: rgba(128,160,179,.6);
}

.text-hd-neutral-500\/65 {
  color: rgba(128,160,179,.65);
}

.text-hd-neutral-500\/70 {
  color: rgba(128,160,179,.7);
}

.text-hd-neutral-500\/75 {
  color: rgba(128,160,179,.75);
}

.text-hd-neutral-500\/80 {
  color: rgba(128,160,179,.8);
}

.text-hd-neutral-500\/85 {
  color: rgba(128,160,179,.85);
}

.text-hd-neutral-500\/90 {
  color: rgba(128,160,179,.9);
}

.text-hd-neutral-500\/95 {
  color: rgba(128,160,179,.95);
}

.text-hd-neutral-original {
  --tw-text-opacity: 1;
  color: #80a0b3;
  color: rgb(128 160 179/var(--tw-text-opacity));
}

.text-hd-primary-400 {
  --tw-text-opacity: 1;
  color: #5466c9;
  color: rgb(84 102 201/var(--tw-text-opacity));
}

.text-hd-primary-400\/0 {
  color: rgba(84,102,201,0);
}

.text-hd-primary-400\/10 {
  color: rgba(84,102,201,.1);
}

.text-hd-primary-400\/100 {
  color: #5466c9;
}

.text-hd-primary-400\/15 {
  color: rgba(84,102,201,.15);
}

.text-hd-primary-400\/20 {
  color: rgba(84,102,201,.2);
}

.text-hd-primary-400\/25 {
  color: rgba(84,102,201,.25);
}

.text-hd-primary-400\/30 {
  color: rgba(84,102,201,.3);
}

.text-hd-primary-400\/35 {
  color: rgba(84,102,201,.35);
}

.text-hd-primary-400\/40 {
  color: rgba(84,102,201,.4);
}

.text-hd-primary-400\/45 {
  color: rgba(84,102,201,.45);
}

.text-hd-primary-400\/5 {
  color: rgba(84,102,201,.05);
}

.text-hd-primary-400\/50 {
  color: rgba(84,102,201,.5);
}

.text-hd-primary-400\/55 {
  color: rgba(84,102,201,.55);
}

.text-hd-primary-400\/60 {
  color: rgba(84,102,201,.6);
}

.text-hd-primary-400\/65 {
  color: rgba(84,102,201,.65);
}

.text-hd-primary-400\/70 {
  color: rgba(84,102,201,.7);
}

.text-hd-primary-400\/75 {
  color: rgba(84,102,201,.75);
}

.text-hd-primary-400\/80 {
  color: rgba(84,102,201,.8);
}

.text-hd-primary-400\/85 {
  color: rgba(84,102,201,.85);
}

.text-hd-primary-400\/90 {
  color: rgba(84,102,201,.9);
}

.text-hd-primary-400\/95 {
  color: rgba(84,102,201,.95);
}

.text-hd-primary-500 {
  --tw-text-opacity: 1;
  color: #3a4db7;
  color: rgb(58 77 183/var(--tw-text-opacity));
}

.text-hd-primary-500\/0 {
  color: rgba(58,77,183,0);
}

.text-hd-primary-500\/10 {
  color: rgba(58,77,183,.1);
}

.text-hd-primary-500\/100 {
  color: #3a4db7;
}

.text-hd-primary-500\/15 {
  color: rgba(58,77,183,.15);
}

.text-hd-primary-500\/20 {
  color: rgba(58,77,183,.2);
}

.text-hd-primary-500\/25 {
  color: rgba(58,77,183,.25);
}

.text-hd-primary-500\/30 {
  color: rgba(58,77,183,.3);
}

.text-hd-primary-500\/35 {
  color: rgba(58,77,183,.35);
}

.text-hd-primary-500\/40 {
  color: rgba(58,77,183,.4);
}

.text-hd-primary-500\/45 {
  color: rgba(58,77,183,.45);
}

.text-hd-primary-500\/5 {
  color: rgba(58,77,183,.05);
}

.text-hd-primary-500\/50 {
  color: rgba(58,77,183,.5);
}

.text-hd-primary-500\/55 {
  color: rgba(58,77,183,.55);
}

.text-hd-primary-500\/60 {
  color: rgba(58,77,183,.6);
}

.text-hd-primary-500\/65 {
  color: rgba(58,77,183,.65);
}

.text-hd-primary-500\/70 {
  color: rgba(58,77,183,.7);
}

.text-hd-primary-500\/75 {
  color: rgba(58,77,183,.75);
}

.text-hd-primary-500\/80 {
  color: rgba(58,77,183,.8);
}

.text-hd-primary-500\/85 {
  color: rgba(58,77,183,.85);
}

.text-hd-primary-500\/90 {
  color: rgba(58,77,183,.9);
}

.text-hd-primary-500\/95 {
  color: rgba(58,77,183,.95);
}

.text-hd-primary-original {
  --tw-text-opacity: 1;
  color: #0f132f;
  color: rgb(15 19 47/var(--tw-text-opacity));
}

.text-hd-primary-original\/70 {
  color: rgba(15,19,47,.7);
}

.text-hd-secondary-400 {
  --tw-text-opacity: 1;
  color: #97ced4;
  color: rgb(151 206 212/var(--tw-text-opacity));
}

.text-hd-secondary-400\/0 {
  color: rgba(151,206,212,0);
}

.text-hd-secondary-400\/10 {
  color: rgba(151,206,212,.1);
}

.text-hd-secondary-400\/100 {
  color: #97ced4;
}

.text-hd-secondary-400\/15 {
  color: rgba(151,206,212,.15);
}

.text-hd-secondary-400\/20 {
  color: rgba(151,206,212,.2);
}

.text-hd-secondary-400\/25 {
  color: rgba(151,206,212,.25);
}

.text-hd-secondary-400\/30 {
  color: rgba(151,206,212,.3);
}

.text-hd-secondary-400\/35 {
  color: rgba(151,206,212,.35);
}

.text-hd-secondary-400\/40 {
  color: rgba(151,206,212,.4);
}

.text-hd-secondary-400\/45 {
  color: rgba(151,206,212,.45);
}

.text-hd-secondary-400\/5 {
  color: rgba(151,206,212,.05);
}

.text-hd-secondary-400\/50 {
  color: rgba(151,206,212,.5);
}

.text-hd-secondary-400\/55 {
  color: rgba(151,206,212,.55);
}

.text-hd-secondary-400\/60 {
  color: rgba(151,206,212,.6);
}

.text-hd-secondary-400\/65 {
  color: rgba(151,206,212,.65)
}

.text-hd-secondary-400\/70 {
  color: rgba(151,206,212,.7);
}

.text-hd-secondary-400\/75 {
  color: rgba(151,206,212,.75);
}

.text-hd-secondary-400\/80 {
  color: rgba(151,206,212,.8);
}

.text-hd-secondary-400\/85 {
  color: rgba(151,206,212,.85);
}

.text-hd-secondary-400\/90 {
  color: rgba(151,206,212,.9);
}

.text-hd-secondary-400\/95 {
  color: rgba(151,206,212,.95);
}

.text-hd-secondary-500 {
  --tw-text-opacity: 1;
  color: #7dc2ca;
  color: rgb(125 194 202/var(--tw-text-opacity));
}

.text-hd-secondary-500\/0 {
  color: rgba(125,194,202,0);
}

.text-hd-secondary-500\/10 {
  color: rgba(125,194,202,.1);
}

.text-hd-secondary-500\/100 {
  color: #7dc2ca;
}

.text-hd-secondary-500\/15 {
  color: rgba(125,194,202,.15);
}

.text-hd-secondary-500\/20 {
  color: rgba(125,194,202,.2);
}

.text-hd-secondary-500\/25 {
  color: rgba(125,194,202,.25);
}

.text-hd-secondary-500\/30 {
  color: rgba(125,194,202,.3);
}

.text-hd-secondary-500\/35 {
  color: rgba(125,194,202,.35);
}

.text-hd-secondary-500\/40 {
  color: rgba(125,194,202,.4);
}

.text-hd-secondary-500\/45 {
  color: rgba(125,194,202,.45);
}

.text-hd-secondary-500\/5 {
  color: rgba(125,194,202,.05);
}

.text-hd-secondary-500\/50 {
  color: rgba(125,194,202,.5);
}

.text-hd-secondary-500\/55 {
  color: rgba(125,194,202,.55);
}

.text-hd-secondary-500\/60 {
  color: rgba(125,194,202,.6);
}

.text-hd-secondary-500\/65 {
  color: rgba(125,194,202,.65);
}

.text-hd-secondary-500\/70 {
  color: rgba(125,194,202,.7);
}

.text-hd-secondary-500\/75 {
  color: rgba(125,194,202,.75);
}

.text-hd-secondary-500\/80 {
  color: rgba(125,194,202,.8);
}

.text-hd-secondary-500\/85 {
  color: rgba(125,194,202,.85);
}

.text-hd-secondary-500\/90 {
  color: rgba(125,194,202,.9);
}

.text-hd-secondary-500\/95 {
  color: rgba(125,194,202,.95);
}

.text-hd-secondary-original {
  --tw-text-opacity: 1;
  color: #7dc2ca;
  color: rgb(125 194 202/var(--tw-text-opacity));
}
