.bg-hd-accent-one-400 {
  --tw-bg-opacity: 1;
  background-color: #d8aaa8;
  background-color: rgb(216 170 168/var(--tw-bg-opacity))
}

.bg-hd-accent-one-400\/0 {
  background-color: hsla(3,38%,75%,0)
}

.bg-hd-accent-one-400\/10 {
  background-color: hsla(3,38%,75%,.1)
}

.bg-hd-accent-one-400\/100 {
  background-color: #d8aaa8
}

.bg-hd-accent-one-400\/15 {
  background-color: hsla(3,38%,75%,.15)
}

.bg-hd-accent-one-400\/20 {
  background-color: hsla(3,38%,75%,.2)
}

.bg-hd-accent-one-400\/25 {
  background-color: hsla(3,38%,75%,.25)
}

.bg-hd-accent-one-400\/30 {
  background-color: hsla(3,38%,75%,.3)
}

.bg-hd-accent-one-400\/35 {
  background-color: hsla(3,38%,75%,.35)
}

.bg-hd-accent-one-400\/40 {
  background-color: hsla(3,38%,75%,.4)
}

.bg-hd-accent-one-400\/45 {
  background-color: hsla(3,38%,75%,.45)
}

.bg-hd-accent-one-400\/5 {
  background-color: hsla(3,38%,75%,.05)
}

.bg-hd-accent-one-400\/50 {
  background-color: hsla(3,38%,75%,.5)
}

.bg-hd-accent-one-400\/55 {
  background-color: hsla(3,38%,75%,.55)
}

.bg-hd-accent-one-400\/60 {
  background-color: hsla(3,38%,75%,.6)
}

.bg-hd-accent-one-400\/65 {
  background-color: hsla(3,38%,75%,.65)
}

.bg-hd-accent-one-400\/70 {
  background-color: hsla(3,38%,75%,.7)
}

.bg-hd-accent-one-400\/75 {
  background-color: hsla(3,38%,75%,.75)
}

.bg-hd-accent-one-400\/80 {
  background-color: hsla(3,38%,75%,.8)
}

.bg-hd-accent-one-400\/85 {
  background-color: hsla(3,38%,75%,.85)
}

.bg-hd-accent-one-400\/90 {
  background-color: hsla(3,38%,75%,.9)
}

.bg-hd-accent-one-400\/95 {
  background-color: hsla(3,38%,75%,.95)
}

.bg-hd-accent-one-500 {
  --tw-bg-opacity: 1;
  background-color: #ce9592;
  background-color: rgb(206 149 146/var(--tw-bg-opacity))
}

.bg-hd-accent-one-500\/0 {
  background-color: hsla(3,38%,69%,0)
}

.bg-hd-accent-one-500\/10 {
  background-color: hsla(3,38%,69%,.1)
}

.bg-hd-accent-one-500\/100 {
  background-color: #ce9592
}

.bg-hd-accent-one-500\/15 {
  background-color: hsla(3,38%,69%,.15)
}

.bg-hd-accent-one-500\/20 {
  background-color: hsla(3,38%,69%,.2)
}

.bg-hd-accent-one-500\/25 {
  background-color: hsla(3,38%,69%,.25)
}

.bg-hd-accent-one-500\/30 {
  background-color: hsla(3,38%,69%,.3)
}

.bg-hd-accent-one-500\/35 {
  background-color: hsla(3,38%,69%,.35)
}

.bg-hd-accent-one-500\/40 {
  background-color: hsla(3,38%,69%,.4)
}

.bg-hd-accent-one-500\/45 {
  background-color: hsla(3,38%,69%,.45)
}

.bg-hd-accent-one-500\/5 {
  background-color: hsla(3,38%,69%,.05)
}

.bg-hd-accent-one-500\/50 {
  background-color: hsla(3,38%,69%,.5)
}

.bg-hd-accent-one-500\/55 {
  background-color: hsla(3,38%,69%,.55)
}

.bg-hd-accent-one-500\/60 {
  background-color: hsla(3,38%,69%,.6)
}

.bg-hd-accent-one-500\/65 {
  background-color: hsla(3,38%,69%,.65)
}

.bg-hd-accent-one-500\/70 {
  background-color: hsla(3,38%,69%,.7)
}

.bg-hd-accent-one-500\/75 {
  background-color: hsla(3,38%,69%,.75)
}

.bg-hd-accent-one-500\/80 {
  background-color: hsla(3,38%,69%,.8)
}

.bg-hd-accent-one-500\/85 {
  background-color: hsla(3,38%,69%,.85)
}

.bg-hd-accent-one-500\/90 {
  background-color: hsla(3,38%,69%,.9)
}

.bg-hd-accent-one-500\/95 {
  background-color: hsla(3,38%,69%,.95)
}

.bg-hd-accent-one-original {
  --tw-bg-opacity: 1;
  background-color: #ce9592;
  background-color: rgb(206 149 146/var(--tw-bg-opacity))
}

.bg-hd-accent-two-400 {
  --tw-bg-opacity: 1;
  background-color: #d9c2bf;
  background-color: rgb(217 194 191/var(--tw-bg-opacity))
}

.bg-hd-accent-two-400\/0 {
  background-color: hsla(7,25%,80%,0)
}

.bg-hd-accent-two-400\/10 {
  background-color: hsla(7,25%,80%,.1)
}

.bg-hd-accent-two-400\/100 {
  background-color: #d9c2bf
}

.bg-hd-accent-two-400\/15 {
  background-color: hsla(7,25%,80%,.15)
}

.bg-hd-accent-two-400\/20 {
  background-color: hsla(7,25%,80%,.2)
}

.bg-hd-accent-two-400\/25 {
  background-color: hsla(7,25%,80%,.25)
}

.bg-hd-accent-two-400\/30 {
  background-color: hsla(7,25%,80%,.3)
}

.bg-hd-accent-two-400\/35 {
  background-color: hsla(7,25%,80%,.35)
}

.bg-hd-accent-two-400\/40 {
  background-color: hsla(7,25%,80%,.4)
}

.bg-hd-accent-two-400\/45 {
  background-color: hsla(7,25%,80%,.45)
}

.bg-hd-accent-two-400\/5 {
  background-color: hsla(7,25%,80%,.05)
}

.bg-hd-accent-two-400\/50 {
  background-color: hsla(7,25%,80%,.5)
}

.bg-hd-accent-two-400\/55 {
  background-color: hsla(7,25%,80%,.55)
}

.bg-hd-accent-two-400\/60 {
  background-color: hsla(7,25%,80%,.6)
}

.bg-hd-accent-two-400\/65 {
  background-color: hsla(7,25%,80%,.65)
}

.bg-hd-accent-two-400\/70 {
  background-color: hsla(7,25%,80%,.7)
}

.bg-hd-accent-two-400\/75 {
  background-color: hsla(7,25%,80%,.75)
}

.bg-hd-accent-two-400\/80 {
  background-color: hsla(7,25%,80%,.8)
}

.bg-hd-accent-two-400\/85 {
  background-color: hsla(7,25%,80%,.85)
}

.bg-hd-accent-two-400\/90 {
  background-color: hsla(7,25%,80%,.9)
}

.bg-hd-accent-two-400\/95 {
  background-color: hsla(7,25%,80%,.95)
}

.bg-hd-accent-two-500 {
  --tw-bg-opacity: 1;
  background-color: #d0b3af;
  background-color: rgb(208 179 175/var(--tw-bg-opacity))
}

.bg-hd-accent-two-500\/0 {
  background-color: hsla(7,26%,75%,0)
}

.bg-hd-accent-two-500\/10 {
  background-color: hsla(7,26%,75%,.1)
}

.bg-hd-accent-two-500\/100 {
  background-color: #d0b3af
}

.bg-hd-accent-two-500\/15 {
  background-color: hsla(7,26%,75%,.15)
}

.bg-hd-accent-two-500\/20 {
  background-color: hsla(7,26%,75%,.2)
}

.bg-hd-accent-two-500\/25 {
  background-color: hsla(7,26%,75%,.25)
}

.bg-hd-accent-two-500\/30 {
  background-color: hsla(7,26%,75%,.3)
}

.bg-hd-accent-two-500\/35 {
  background-color: hsla(7,26%,75%,.35)
}

.bg-hd-accent-two-500\/40 {
  background-color: hsla(7,26%,75%,.4)
}

.bg-hd-accent-two-500\/45 {
  background-color: hsla(7,26%,75%,.45)
}

.bg-hd-accent-two-500\/5 {
  background-color: hsla(7,26%,75%,.05)
}

.bg-hd-accent-two-500\/50 {
  background-color: hsla(7,26%,75%,.5)
}

.bg-hd-accent-two-500\/55 {
  background-color: hsla(7,26%,75%,.55)
}

.bg-hd-accent-two-500\/60 {
  background-color: hsla(7,26%,75%,.6)
}

.bg-hd-accent-two-500\/65 {
  background-color: hsla(7,26%,75%,.65)
}

.bg-hd-accent-two-500\/70 {
  background-color: hsla(7,26%,75%,.7)
}

.bg-hd-accent-two-500\/75 {
  background-color: hsla(7,26%,75%,.75)
}

.bg-hd-accent-two-500\/80 {
  background-color: hsla(7,26%,75%,.8)
}

.bg-hd-accent-two-500\/85 {
  background-color: hsla(7,26%,75%,.85)
}

.bg-hd-accent-two-500\/90 {
  background-color: hsla(7,26%,75%,.9)
}

.bg-hd-accent-two-500\/95 {
  background-color: hsla(7,26%,75%,.95)
}

.bg-hd-accent-two-original {
  --tw-bg-opacity: 1;
  background-color: #d0b3af;
  background-color: rgb(208 179 175/var(--tw-bg-opacity))
}

.bg-hd-base-400 {
  --tw-bg-opacity: 1;
  background-color: #c5c595;
  background-color: rgb(197 197 149/var(--tw-bg-opacity))
}

.bg-hd-base-400\/0 {
  background-color: hsla(60,29%,68%,0)
}

.bg-hd-base-400\/10 {
  background-color: hsla(60,29%,68%,.1)
}

.bg-hd-base-400\/100 {
  background-color: #c5c595
}

.bg-hd-base-400\/15 {
  background-color: hsla(60,29%,68%,.15)
}

.bg-hd-base-400\/20 {
  background-color: hsla(60,29%,68%,.2)
}

.bg-hd-base-400\/25 {
  background-color: hsla(60,29%,68%,.25)
}

.bg-hd-base-400\/30 {
  background-color: hsla(60,29%,68%,.3)
}

.bg-hd-base-400\/35 {
  background-color: hsla(60,29%,68%,.35)
}

.bg-hd-base-400\/40 {
  background-color: hsla(60,29%,68%,.4)
}

.bg-hd-base-400\/45 {
  background-color: hsla(60,29%,68%,.45)
}

.bg-hd-base-400\/5 {
  background-color: hsla(60,29%,68%,.05)
}

.bg-hd-base-400\/50 {
  background-color: hsla(60,29%,68%,.5)
}

.bg-hd-base-400\/55 {
  background-color: hsla(60,29%,68%,.55)
}

.bg-hd-base-400\/60 {
  background-color: hsla(60,29%,68%,.6)
}

.bg-hd-base-400\/65 {
  background-color: hsla(60,29%,68%,.65)
}

.bg-hd-base-400\/70 {
  background-color: hsla(60,29%,68%,.7)
}

.bg-hd-base-400\/75 {
  background-color: hsla(60,29%,68%,.75)
}

.bg-hd-base-400\/80 {
  background-color: hsla(60,29%,68%,.8)
}

.bg-hd-base-400\/85 {
  background-color: hsla(60,29%,68%,.85)
}

.bg-hd-base-400\/90 {
  background-color: hsla(60,29%,68%,.9)
}

.bg-hd-base-400\/95 {
  background-color: hsla(60,29%,68%,.95)
}

.bg-hd-base-500 {
  --tw-bg-opacity: 1;
  background-color: #b3b375;
  background-color: rgb(179 179 117/var(--tw-bg-opacity))
}

.bg-hd-base-500\/0 {
  background-color: hsla(60,29%,58%,0)
}

.bg-hd-base-500\/10 {
  background-color: hsla(60,29%,58%,.1)
}

.bg-hd-base-500\/100 {
  background-color: #b3b375
}

.bg-hd-base-500\/15 {
  background-color: hsla(60,29%,58%,.15)
}

.bg-hd-base-500\/20 {
  background-color: hsla(60,29%,58%,.2)
}

.bg-hd-base-500\/25 {
  background-color: hsla(60,29%,58%,.25)
}

.bg-hd-base-500\/30 {
  background-color: hsla(60,29%,58%,.3)
}

.bg-hd-base-500\/35 {
  background-color: hsla(60,29%,58%,.35)
}

.bg-hd-base-500\/40 {
  background-color: hsla(60,29%,58%,.4)
}

.bg-hd-base-500\/45 {
  background-color: hsla(60,29%,58%,.45)
}

.bg-hd-base-500\/5 {
  background-color: hsla(60,29%,58%,.05)
}

.bg-hd-base-500\/50 {
  background-color: hsla(60,29%,58%,.5)
}

.bg-hd-base-500\/55 {
  background-color: hsla(60,29%,58%,.55)
}

.bg-hd-base-500\/60 {
  background-color: hsla(60,29%,58%,.6)
}

.bg-hd-base-500\/65 {
  background-color: hsla(60,29%,58%,.65)
}

.bg-hd-base-500\/70 {
  background-color: hsla(60,29%,58%,.7)
}

.bg-hd-base-500\/75 {
  background-color: hsla(60,29%,58%,.75)
}

.bg-hd-base-500\/80 {
  background-color: hsla(60,29%,58%,.8)
}

.bg-hd-base-500\/85 {
  background-color: hsla(60,29%,58%,.85)
}

.bg-hd-base-500\/90 {
  background-color: hsla(60,29%,58%,.9)
}

.bg-hd-base-500\/95 {
  background-color: hsla(60,29%,58%,.95)
}

.bg-hd-base-original {
  --tw-bg-opacity: 1;
  background-color: #fafaf5;
  background-color: rgb(250 250 245/var(--tw-bg-opacity))
}

.bg-hd-base-original\/10 {
  background-color: hsla(60,33%,97%,.1)
}

.bg-hd-neutral-400 {
  --tw-bg-opacity: 1;
  background-color: #99b3c2;
  background-color: rgb(153 179 194/var(--tw-bg-opacity))
}

.bg-hd-neutral-400\/0 {
  background-color: rgba(153,179,194,0)
}

.bg-hd-neutral-400\/10 {
  background-color: rgba(153,179,194,.1)
}

.bg-hd-neutral-400\/100 {
  background-color: #99b3c2
}

.bg-hd-neutral-400\/15 {
  background-color: rgba(153,179,194,.15)
}

.bg-hd-neutral-400\/20 {
  background-color: rgba(153,179,194,.2)
}

.bg-hd-neutral-400\/25 {
  background-color: rgba(153,179,194,.25)
}

.bg-hd-neutral-400\/30 {
  background-color: rgba(153,179,194,.3)
}

.bg-hd-neutral-400\/35 {
  background-color: rgba(153,179,194,.35)
}

.bg-hd-neutral-400\/40 {
  background-color: rgba(153,179,194,.4)
}

.bg-hd-neutral-400\/45 {
  background-color: rgba(153,179,194,.45)
}

.bg-hd-neutral-400\/5 {
  background-color: rgba(153,179,194,.05)
}

.bg-hd-neutral-400\/50 {
  background-color: rgba(153,179,194,.5)
}

.bg-hd-neutral-400\/55 {
  background-color: rgba(153,179,194,.55)
}

.bg-hd-neutral-400\/60 {
  background-color: rgba(153,179,194,.6)
}

.bg-hd-neutral-400\/65 {
  background-color: rgba(153,179,194,.65)
}

.bg-hd-neutral-400\/70 {
  background-color: rgba(153,179,194,.7)
}

.bg-hd-neutral-400\/75 {
  background-color: rgba(153,179,194,.75)
}

.bg-hd-neutral-400\/80 {
  background-color: rgba(153,179,194,.8)
}

.bg-hd-neutral-400\/85 {
  background-color: rgba(153,179,194,.85)
}

.bg-hd-neutral-400\/90 {
  background-color: rgba(153,179,194,.9)
}

.bg-hd-neutral-400\/95 {
  background-color: rgba(153,179,194,.95)
}

.bg-hd-neutral-500 {
  --tw-bg-opacity: 1;
  background-color: #80a0b3;
  background-color: rgb(128 160 179/var(--tw-bg-opacity))
}

.bg-hd-neutral-500\/0 {
  background-color: rgba(128,160,179,0)
}

.bg-hd-neutral-500\/10 {
  background-color: rgba(128,160,179,.1)
}

.bg-hd-neutral-500\/100 {
  background-color: #80a0b3
}

.bg-hd-neutral-500\/15 {
  background-color: rgba(128,160,179,.15)
}

.bg-hd-neutral-500\/20 {
  background-color: rgba(128,160,179,.2)
}

.bg-hd-neutral-500\/25 {
  background-color: rgba(128,160,179,.25)
}

.bg-hd-neutral-500\/30 {
  background-color: rgba(128,160,179,.3)
}

.bg-hd-neutral-500\/35 {
  background-color: rgba(128,160,179,.35)
}

.bg-hd-neutral-500\/40 {
  background-color: rgba(128,160,179,.4)
}

.bg-hd-neutral-500\/45 {
  background-color: rgba(128,160,179,.45)
}

.bg-hd-neutral-500\/5 {
  background-color: rgba(128,160,179,.05)
}

.bg-hd-neutral-500\/50 {
  background-color: rgba(128,160,179,.5)
}

.bg-hd-neutral-500\/55 {
  background-color: rgba(128,160,179,.55)
}

.bg-hd-neutral-500\/60 {
  background-color: rgba(128,160,179,.6)
}

.bg-hd-neutral-500\/65 {
  background-color: rgba(128,160,179,.65)
}

.bg-hd-neutral-500\/70 {
  background-color: rgba(128,160,179,.7)
}

.bg-hd-neutral-500\/75 {
  background-color: rgba(128,160,179,.75)
}

.bg-hd-neutral-500\/80 {
  background-color: rgba(128,160,179,.8)
}

.bg-hd-neutral-500\/85 {
  background-color: rgba(128,160,179,.85)
}

.bg-hd-neutral-500\/90 {
  background-color: rgba(128,160,179,.9)
}

.bg-hd-neutral-500\/95 {
  background-color: rgba(128,160,179,.95)
}

.bg-hd-neutral-original {
  --tw-bg-opacity: 1;
  background-color: #80a0b3;
  background-color: rgb(128 160 179/var(--tw-bg-opacity))
}

.bg-hd-primary-400 {
  --tw-bg-opacity: 1;
  background-color: #5466c9;
  background-color: rgb(84 102 201/var(--tw-bg-opacity))
}

.bg-hd-primary-400\/0 {
  background-color: rgba(84,102,201,0)
}

.bg-hd-primary-400\/10 {
  background-color: rgba(84,102,201,.1)
}

.bg-hd-primary-400\/100 {
  background-color: #5466c9
}

.bg-hd-primary-400\/15 {
  background-color: rgba(84,102,201,.15)
}

.bg-hd-primary-400\/20 {
  background-color: rgba(84,102,201,.2)
}

.bg-hd-primary-400\/25 {
  background-color: rgba(84,102,201,.25)
}

.bg-hd-primary-400\/30 {
  background-color: rgba(84,102,201,.3)
}

.bg-hd-primary-400\/35 {
  background-color: rgba(84,102,201,.35)
}

.bg-hd-primary-400\/40 {
  background-color: rgba(84,102,201,.4)
}

.bg-hd-primary-400\/45 {
  background-color: rgba(84,102,201,.45)
}

.bg-hd-primary-400\/5 {
  background-color: rgba(84,102,201,.05)
}

.bg-hd-primary-400\/50 {
  background-color: rgba(84,102,201,.5)
}

.bg-hd-primary-400\/55 {
  background-color: rgba(84,102,201,.55)
}

.bg-hd-primary-400\/60 {
  background-color: rgba(84,102,201,.6)
}

.bg-hd-primary-400\/65 {
  background-color: rgba(84,102,201,.65)
}

.bg-hd-primary-400\/70 {
  background-color: rgba(84,102,201,.7)
}

.bg-hd-primary-400\/75 {
  background-color: rgba(84,102,201,.75)
}

.bg-hd-primary-400\/80 {
  background-color: rgba(84,102,201,.8)
}

.bg-hd-primary-400\/85 {
  background-color: rgba(84,102,201,.85)
}

.bg-hd-primary-400\/90 {
  background-color: rgba(84,102,201,.9)
}

.bg-hd-primary-400\/95 {
  background-color: rgba(84,102,201,.95)
}

.bg-hd-primary-500 {
  --tw-bg-opacity: 1;
  background-color: #3a4db7;
  background-color: rgb(58 77 183/var(--tw-bg-opacity))
}

.bg-hd-primary-500\/0 {
  background-color: rgba(58,77,183,0)
}

.bg-hd-primary-500\/10 {
  background-color: rgba(58,77,183,.1)
}

.bg-hd-primary-500\/100 {
  background-color: #3a4db7
}

.bg-hd-primary-500\/15 {
  background-color: rgba(58,77,183,.15)
}

.bg-hd-primary-500\/20 {
  background-color: rgba(58,77,183,.2)
}

.bg-hd-primary-500\/25 {
  background-color: rgba(58,77,183,.25)
}

.bg-hd-primary-500\/30 {
  background-color: rgba(58,77,183,.3)
}

.bg-hd-primary-500\/35 {
  background-color: rgba(58,77,183,.35)
}

.bg-hd-primary-500\/40 {
  background-color: rgba(58,77,183,.4)
}

.bg-hd-primary-500\/45 {
  background-color: rgba(58,77,183,.45)
}

.bg-hd-primary-500\/5 {
  background-color: rgba(58,77,183,.05)
}

.bg-hd-primary-500\/50 {
  background-color: rgba(58,77,183,.5)
}

.bg-hd-primary-500\/55 {
  background-color: rgba(58,77,183,.55)
}

.bg-hd-primary-500\/60 {
  background-color: rgba(58,77,183,.6)
}

.bg-hd-primary-500\/65 {
  background-color: rgba(58,77,183,.65)
}

.bg-hd-primary-500\/70 {
  background-color: rgba(58,77,183,.7)
}

.bg-hd-primary-500\/75 {
  background-color: rgba(58,77,183,.75)
}

.bg-hd-primary-500\/80 {
  background-color: rgba(58,77,183,.8)
}

.bg-hd-primary-500\/85 {
  background-color: rgba(58,77,183,.85)
}

.bg-hd-primary-500\/90 {
  background-color: rgba(58,77,183,.9)
}

.bg-hd-primary-500\/95 {
  background-color: rgba(58,77,183,.95)
}

.bg-hd-primary-original {
  --tw-bg-opacity: 1;
  background-color: #0f132f;
  background-color: rgb(15 19 47/var(--tw-bg-opacity))
}

.bg-hd-secondary-400 {
  --tw-bg-opacity: 1;
  background-color: #97ced4;
  background-color: rgb(151 206 212/var(--tw-bg-opacity))
}

.bg-hd-secondary-400\/0 {
  background-color: rgba(151,206,212,0)
}

.bg-hd-secondary-400\/10 {
  background-color: rgba(151,206,212,.1)
}

.bg-hd-secondary-400\/100 {
  background-color: #97ced4
}

.bg-hd-secondary-400\/15 {
  background-color: rgba(151,206,212,.15)
}

.bg-hd-secondary-400\/20 {
  background-color: rgba(151,206,212,.2)
}

.bg-hd-secondary-400\/25 {
  background-color: rgba(151,206,212,.25)
}

.bg-hd-secondary-400\/30 {
  background-color: rgba(151,206,212,.3)
}

.bg-hd-secondary-400\/35 {
  background-color: rgba(151,206,212,.35)
}

.bg-hd-secondary-400\/40 {
  background-color: rgba(151,206,212,.4)
}

.bg-hd-secondary-400\/45 {
  background-color: rgba(151,206,212,.45)
}

.bg-hd-secondary-400\/5 {
  background-color: rgba(151,206,212,.05)
}

.bg-hd-secondary-400\/50 {
  background-color: rgba(151,206,212,.5)
}

.bg-hd-secondary-400\/55 {
  background-color: rgba(151,206,212,.55)
}

.bg-hd-secondary-400\/60 {
  background-color: rgba(151,206,212,.6)
}

.bg-hd-secondary-400\/65 {
  background-color: rgba(151,206,212,.65)
}

.bg-hd-secondary-400\/70 {
  background-color: rgba(151,206,212,.7)
}

.bg-hd-secondary-400\/75 {
  background-color: rgba(151,206,212,.75)
}

.bg-hd-secondary-400\/80 {
  background-color: rgba(151,206,212,.8)
}

.bg-hd-secondary-400\/85 {
  background-color: rgba(151,206,212,.85)
}

.bg-hd-secondary-400\/90 {
  background-color: rgba(151,206,212,.9)
}

.bg-hd-secondary-400\/95 {
  background-color: rgba(151,206,212,.95)
}

.bg-hd-secondary-500 {
  --tw-bg-opacity: 1;
  background-color: #7dc2ca;
  background-color: rgb(125 194 202/var(--tw-bg-opacity))
}

.bg-hd-secondary-500\/0 {
  background-color: rgba(125,194,202,0)
}

.bg-hd-secondary-500\/10 {
  background-color: rgba(125,194,202,.1)
}

.bg-hd-secondary-500\/100 {
  background-color: #7dc2ca
}

.bg-hd-secondary-500\/15 {
  background-color: rgba(125,194,202,.15)
}

.bg-hd-secondary-500\/20 {
  background-color: rgba(125,194,202,.2)
}

.bg-hd-secondary-500\/25 {
  background-color: rgba(125,194,202,.25)
}

.bg-hd-secondary-500\/30 {
  background-color: rgba(125,194,202,.3)
}

.bg-hd-secondary-500\/35 {
  background-color: rgba(125,194,202,.35)
}

.bg-hd-secondary-500\/40 {
  background-color: rgba(125,194,202,.4)
}

.bg-hd-secondary-500\/45 {
  background-color: rgba(125,194,202,.45)
}

.bg-hd-secondary-500\/5 {
  background-color: rgba(125,194,202,.05)
}

.bg-hd-secondary-500\/50 {
  background-color: rgba(125,194,202,.5)
}

.bg-hd-secondary-500\/55 {
  background-color: rgba(125,194,202,.55)
}

.bg-hd-secondary-500\/60 {
  background-color: rgba(125,194,202,.6)
}

.bg-hd-secondary-500\/65 {
  background-color: rgba(125,194,202,.65)
}

.bg-hd-secondary-500\/70 {
  background-color: rgba(125,194,202,.7)
}

.bg-hd-secondary-500\/75 {
  background-color: rgba(125,194,202,.75)
}

.bg-hd-secondary-500\/80 {
  background-color: rgba(125,194,202,.8)
}

.bg-hd-secondary-500\/85 {
  background-color: rgba(125,194,202,.85)
}

.bg-hd-secondary-500\/90 {
  background-color: rgba(125,194,202,.9)
}

.bg-hd-secondary-500\/95 {
  background-color: rgba(125,194,202,.95)
}

.bg-hd-secondary-original {
  --tw-bg-opacity: 1;
  background-color: #7dc2ca;
  background-color: rgb(125 194 202/var(--tw-bg-opacity))
}
